
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:  #1591ce;  
}
.welcome_text {
    width: 400px;


}

.welcome_form input, .welcome_form button {
    display: block;
    width: 100%;
}
.welcome_form input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #f8f8ff;
    margin-bottom: 15px;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    
}

.welcome_form input:focus, .welcome_form button:focus {
    outline: none;
}

.welcome_form button {
    padding: 20px 0;
    border:  none;
    border-radius: 100px;
    background-color:  #fff;
    color: #1591ce;
    font-size: 1rem;
    transition: .5s all;
    border-radius: 100px;
}

.welcome_form button:hover {
    box-shadow: 0 10 0 10 rgba(21,145,206, .76);
    transform: scale(2);
    z-index: 1;
}


p {
    color: #fff;
}
.quiz {
    display: grid;
    grid-template-rows: 60px auto;
    width: 800px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 10px 0 10px rgba(21,145,206, .76);
    border-radius: 3px;
    z-index: 1;
}
.quiz_header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: rgba(21,145,206, .76);
    z-index: 1;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.quiz_body {
    padding: 30px 30px;
    background-color: #fff;
}

.quiz_user {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 30px;
}

.quiz_timer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    background-color: #1591ce;
    color: #fff;

}
.option_group {
    list-style-type: none;
    margin: 30px 0;
}
.option:hover {
    cursor: pointer;
    border: 3px solid #1591ce;
    color: #1591ce;
}

.option {
    display: block;
    width: 300px;
    background-color: #f8f8ff;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 100px;
    border: 2px solid transparent;
    transition: .5s all;
}

 .option.active {
     background-color: #1591ce;
     color: #fff;
 }   
.choices {
    display: block;
    width: 200px;
    background-color: #ffff;
    margin-bottom: auto;
    padding: 15px 20px;
    border-radius: 100px;
    border: 3px solid transparent;

}
.questions {
    list-style-type: none;
    margin: 30px 0;
}
.btn-next {
    border: none;
    padding: 15px 10px 15px 10px;
    background-color: #1591ce;
    color: #fff;
    border-radius: 30px;
    transition: .5s all;
}

.btn-next:hover {
   cursor: pointer;
   background-color: #fff;
   color: #1591ce;
   box-shadow: #1591ce;
}

.reward {
    display: block;
    font-size: 3rem;
    color: #fff;
    
} 

.username, .userscore, .user_time {
    color: #f8f8ff;
    text-align: center;
    margin-top: 20px;
}
    
    
.time {
    align-items: center;
    background-color: #1591ce;
    color: #fff;
     box-shadow: rgba(21,145,206, .76);
}
    


   

   






